*,*:before, *:after{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "GeorgiaRegular";
}
.wrapper{
    width: 960px;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &-content{
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #e2e2e2;
        padding: 40px 20px;
    }
}
@font-face {
    // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
    font-family: "GeorgiaRegular"; 
    // адрес шрифта и тип 
    src: url("../fonts/ofont.ru_Georgia.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 